//Colors
$colorPrimary: rgb(255, 250, 250);
$colorSecondary: rgb(9, 9, 41);
$colorSecondaryOp: rgba(9, 9, 41, 0.7);

$colorGrey: gainsboro;
$colorTurquoise: rgb(47, 168, 168);

$colorOrange: orangered;
$colorYellow: yellow;
$colorLime: lime;
$colorBlue: aqua;
$colorPink: deeppink;

//Typography
$fontFamily: 'Roboto', sans-serif;

$fontWeight_light: 300;
$fontWeight_regular: 400;
$fontWeight_medium: 500;
$fontWeight_bold: 700;

$fontSize_small: 14px;
$fontSize_medium: 16px;
$fontSize_title: 18px;
$fontSize_icon: 20px;
$fontSize_hero: 30px;
$fontSize_bigHero: 40px;