@import '../../styles/core/variables';

.projects__container {
  max-width: 800px;
  margin: 0;
  padding: 0;
}

.projects__github--link {
  color: $colorSecondary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
