@import '../../styles/core/variables';

.projects__container {
  max-width: 800px;
  margin: 0;
  padding: 0;
}

.projects__link {
  color: $colorSecondary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.projects__link--button {
  margin-left: 10px;
  padding: 2px 5px;
  background-color: $colorPink;
  color: $colorPrimary;
  border-radius: 3px;
}