@import '../../styles/core/variables';

.hero-header__background {
  height: 63px;
  width: 100%;
  background-color: $colorSecondary;
  position: absolute;
  @media all and (min-width: 450px) {
    height: 65px;    
  }
}

.hero__container {
  background-image: url("images/background.PNG");
  height: 100vh;
  //poner cover en background
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media all and (min-width: 768px) {
    flex-direction: row;
  }
}

.hero__photo--wrapper {
  
}

.hero__photo {
  width: 150px;
  margin-top: 50px;
  box-shadow: 5px -5px 10px $colorGrey;
  border-radius: 50%;
  @media all and (min-width: 450px) {
    width: 200px;
  }
  @media all and (min-width: 768px) {
    width: 300px;
  }
}

.hero__text {
  padding: 0 40px;
  text-align: center;
  min-width: 320px;
  @media all and (min-width: 768px) {
    margin-left: 50px;
    text-align: left;
  }
}

.hero__text--name {
  font-size: $fontSize_hero;
  font-weight: $fontWeight_bold;
  @media all and (min-width: 768px) {
  font-size: $fontSize_bigHero;
  }
}

.hero__text--job {
  font-size: $fontSize_title;
  font-weight: $fontWeight_bold;
  @media all and (min-width: 768px) {
    font-size: $fontSize_hero;
    }
}

.hero__dinamic--wrapper {
  display: flex;
  justify-content: center;
}

.hero__dinamic {
  width: 30px;
  height: 30px;
  transform: rotate(90deg);
  border-radius: 50px;
  text-align: center;
  background-color: $colorPrimary;
  position: absolute;
  bottom: -15px;
  box-shadow: 0 0 10px $colorPrimary;
  animation-name: face;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  @keyframes face {
    0% {
      bottom: -20px;
    }
    30% {
      bottom: 15px;
    }
    100% {
      bottom: -20px;
    }
  }
}