@import '../../styles/core/variables';

.hero-header__background {
  height: 65px;
  width: 100%;
  background: url("images/stars.PNG") no-repeat;
  background-size: cover;
  position: absolute;
}

.hero__container {
  background: url("images/background__rocks.PNG") no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media all and (min-width: 768px) {
    flex-direction: row;
  }
}

.hero__photo {
  width: 150px;
  box-shadow: 5px -5px 10px $colorGrey;
  border-radius: 50%;
  margin-top: 30px;
  @media all and (min-width: 450px) {
    width: 200px;
    margin-top: 0;
  }
  @media all and (min-width: 768px) {
    width: 300px;
  }
}

.hero__text {
  max-width: 320px;
  color: $colorPrimary;
  text-shadow: 0 0 5px $colorSecondary;
  @media all and (min-width: 768px) {
    margin-left: 50px;
  }
}

.hero__text--name {
  font-size: $fontSize_hero;
  font-weight: $fontWeight_bold;
  @media all and (min-width: 768px) {
  font-size: $fontSize_bigHero;
  }
}

.hero__text--job {
  font-size: $fontSize_title;
  font-weight: $fontWeight_bold;
  @media all and (min-width: 768px) {
    font-size: $fontSize_hero;
    }
}

.hero__dinamic--wrapper {
  display: flex;
  justify-content: center;
}

.hero__dinamic {
  width: 30px;
  height: 30px;
  transform: rotate(90deg);
  border-radius: 50px;
  text-align: center;
  background-color: $colorPrimary;
  position: absolute;
  bottom: -15px;
  box-shadow: 0 0 10px $colorPrimary;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $colorSecondary;
  font-size: $fontSize_medium;
  font-weight: $fontWeight_regular;
  &:hover {
    box-shadow: 0 0 3px $colorLime;
  }
  &:active {
    color: $colorLime;
  }
  animation-name: face;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  @keyframes face {
    0% {
      bottom: -10px;
    }
    30% {
      bottom: 5px;
    }
    100% {
      bottom: -10px;
    }
  }
}