@import '../../styles/core/variables';

.contact__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $colorSecondary;
  color: $colorPrimary;
}

.contact__description {
  margin-top: 0;
}

.contact__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.contact__item {
  padding: 15px;
  font-size: $fontSize_title;
  @media all and (min-width: 450px) {
    padding: 20px;
    font-size: $fontSize_icon;
  }
}

.contact__link {
  color: $colorGrey;
  animation-name: icon;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  @keyframes icon {
    0% {
      color: $colorOrange;
    }
    20% {
      color: $colorYellow;
    }
    40% {
      color: $colorLime;
    }
    60% {
      color: $colorBlue;
    }
    80% {
      color: $colorPink;
    }
    100% {
      color: $colorOrange;
    }
  }
}

.contact__link__icon {
  &:hover {
    transform: translate(0, -5px);
    color: $colorPrimary;
  }
  transition: transform ease 1s;
}

.contact__thanks {
  color: $colorGrey;
  margin-bottom: 0;
}
