@import '../../styles/core/variables';

.nav__wrapper {
  background-color: $colorSecondaryOp;
  font-weight: $fontWeight_light;
  font-size: $fontSize_small;
  box-shadow: 0 0 5px $colorSecondary;
  height: 65px;
  position: fixed;
  z-index: 1;
  width: 100%;
  @media all and (min-width: 450px) {
    font-size: $fontSize_medium;
  }
}

.nav__container {
  max-width: 700px;
}

.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  @media all and (min-width: 768px) {
    padding: 0 10%;
  }
}

.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  transition: background-color ease 1s;
  height: 65px;
  text-decoration: none;
  &:hover {
    background-color: $colorPrimary;
    box-shadow: 0 0 5px $colorPrimary;
    cursor: pointer;
    .nav__item {
      font-weight: $fontWeight_medium;
      color: $colorTurquoise;
    }
  }
  &:active {
    .nav__item {
      color: $colorSecondary;
    }
  }
}

.nav__item {
  font-weight: $fontWeight_regular;
  color: $colorPrimary;
  transition: color ease 1s;
}