@import 'styles/core/variables';

body {
  font-family: $fontFamily;
  font-weight: $fontWeight_regular;
  margin: 0;
  padding: 0;
  color: $colorSecondary;
  background-color: $colorPrimary;
}

.section__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  @media all and (min-width: 768px) {
    align-items: center;
  }
}

.section__center {
  @media all and (min-width: 768px) {
    width: 500px;
  }
}

.section__padding {
  padding: 20px;
  @media all and (min-width: 450px) {
    padding: 20px 40px;
  }
}

.section__title {
  font-size: $fontSize_title;
  font-weight: $fontWeight_bold;
  text-transform: uppercase;
  color: $colorLime;
}

.section__text {
  font-size: $fontSize_medium;
  font-weight: $fontWeight_regular;
}

.section__images--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}