@import '../../../styles/core/variables';

.developer__item {
  list-style: none;
}

.developer__image {
  margin: 10px 10px 5px 10px;
  width: 60px;
  @media all and (min-width: 768px) {
    width: 80px;
  }
}

.developer__description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $fontSize_mini;
  margin-top: 0;
}