@import '../../styles/core/variables';

.developer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.developer__description--container {
  @media all and (min-width: 768px) {
    width: 500px;
  }
}

.developer__description--title {
  font-size: $fontSize_title;
  font-weight: $fontWeight_bold;
}

.developer__description--text {
  font-size: $fontSize_medium;
  font-weight: $fontWeight_regular;
}

.developer__images--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.developer__image {
  padding: 10px;
  width: 60px;
  @media all and (min-width: 768px) {
    width: 80px;
  }
}